<article class="background">
  <div class="full-layout">
    <div class="wrapper full-layout">
        <section class="block">
          <div class="about-us">
            <img class="img-responsive small-logo" src="assets/images/logoprimary.png"> 
            <span class="primary-writing"> - we are a unique platform that connects all of you that like to write with all of you that appreciate good voice out there!
              Our goal is to be a supporting link between the authors and advertisers by providing a market where you can: 
              <ul class="content-list">
                <li> Find a perfect author for reviews, blogs and much more. </li>
                <li> Or a perfect advertiser that has an interesting offer for you. </li>
              </ul>
            </span>
          </div>
        </section>
      <form class="register-form">
        <div class="content">
          <section class="divider-line block">
              <button (click)="login()" mat-raised-button class="mat-raised-button primary-background primary-writing margin-small">Login</button>
          </section>
          <section class="block">
              <button (click)="login()" mat-raised-button class="mat-raised-button primary-background primary-writing margin-small">Login</button>
          </section>
        </div>
      </form>
    </div>
  </div>
</article>