/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';



html,body {
    margin:0;
    padding:0;
    min-height: 100%;
    height: 100%;
}

.primary{
    color: #2d3e51;
}

.primary-writing {
    color: #2d3e51 !important;
    font-weight: 600;
}

.primary-second {
    color: #1bbc9c;
}

.primary-background {
    background-color: #1bbc9c;
}

::placeholder {
    color:  #2d3e51;
    font-weight: 600;
}

.primary-mat-input {

}

.primary-input {
    text-decoration-color: #2d3e51;
    border-bottom: 1px solid  #1bbc9c !important;
    padding: 2px !important;
}

.primary-label {
    color: #2d3e51;
}

.primary-logo {
    width: 450px;
    height: 50px;
    margin-top: 80px;
    
}

/*layout*/
.group-block-vertical {
    display: inline-grid;
}

.margin-small {
    margin: 10px;
}
